/* General */
body {
    margin: 0;
    font-family: monospace;
}

/* Header */
header {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

header .header-img {
    height: 100%;
}

header h1{
    width: 100%;
    align-self: center;
    font-size: 40px;

}

/* Menu */
header .hamburger-menu{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 30px;
    aspect-ratio: 1/1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    background-color: inherit;
    border: none;
    padding: 0;
}

header .hamburger-menu > div {
    background-color: black;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

header nav{
    display: none;
}

nav a {
    width: fit-content;
}

/* Menu active state */
.menu-active .hamburger-menu > div:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
}

.menu-active .hamburger-menu > div:nth-child(2) {
    display: none;
}

.menu-active .hamburger-menu > div:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
}

.menu-active h1{
    display: none;
}

.menu-active nav{
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
    gap: 30px;
    margin-left: 20px;
}

.menu-active nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Hover images */
.money {
    position: absolute;
    width: 20%;
    left: 35%;
    bottom: 5%;
    display: none;
}

.active-1 .money{
    display: block;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
      }
  }