/* General */
body {
    margin: 0;
    font-family: monospace;
}
/* ---------------------------------------------------------------------------- */
/* End general */



/* ---------------------------------------------------------------------------- */
/* Header */
header {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    /* display: none; */
}

header .header-img {
    height: 100%;
}

header h1{
    width: 100%;
    align-self: center;
    font-size: 40px;

}

/* Menu */
header .hamburger-menu{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 30px;
    aspect-ratio: 1/1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    background-color: inherit;
    border: none;
    padding: 0;
}

header .hamburger-menu > div {
    background-color: black;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

header nav{
    display: none;
}

nav a {
    width: fit-content;
}

/* Menu active state */
.menu-active .hamburger-menu > div:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
}

.menu-active .hamburger-menu > div:nth-child(2) {
    display: none;
}

.menu-active .hamburger-menu > div:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
}

.menu-active h1{
    display: none;
}

.menu-active nav{
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
    gap: 30px;
    margin-left: 20px;
}

.menu-active nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Hover images */
.money {
    position: absolute;
    width: 20%;
    left: 35%;
    bottom: 5%;
    display: none;
}

.active-1 .money{
    display: block;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
      }
}
/* ---------------------------------------------------------------------------- */
/* End header */




/* ---------------------------------------------------------------------------- */
/* Sketchbook */
.sketchbook {
    position: relative;
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 15vh 15vw;
    background-color: #a7a7a7;
}

.sketchbook .sketch{
    height: 30vw;
    aspect-ratio: 3/2;
    transform-style: preserve-3d;
    transform: rotateZ(0deg) rotateX(40deg);
}

.sketchbook .sketch > div{
    width: 50%; 
    height: 100%;
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: center left;  
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    border-left: 3px solid #252525;
    transition: 2s all;
}

.sketchbook .front{
    background: -webkit-linear-gradient(top,#FCF6EA, #D8D1C3);
    background-size: 100% 2px;
    box-shadow: inset #c2bba2 3px 0 0px, #252525 -5px 1px 0px 0px;
    height: 40px;
    width: 50%;
    right: 0px;
    position: absolute;
    bottom: -40px;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}


.sketchbook .sketch .page-1{
    background-image: url(../img/sketch-cover.jpg);
    transform: translateZ(-1px);
    border-left: 5px solid #252525;
}


.sketchbook .sketch .page-2{
    background-image: url(../img/sketch-1.jpg);
    transform: translateZ(-2px);
}


.sketchbook .sketch .page-3{
    background-image: url(../img/sketch-2.jpg);
    transform: translateZ(-2px);
}


.sketchbook .sketch .page-4{
    background-image: url(../img/sketch-3.jpg);
    transform: translateZ(-3px);
}

.sketchbook .sketch .page-5{
    background-image: url(../img/sketch-4.jpg);
    transform: translateZ(-3px);
}


.sketchbook .sketch .page-6{
    background-image: url(../img/sketch-5.jpg);
    transform: translateZ(-4px);
}

.sketchbook .sketch .page-7{
    background-image: url(../img/sketch-5.jpg);
    transform: translateZ(-4px);
}


.sketchbook .sketch .page-8{
    background-image: url(../img/sketch-5.jpg);
    transform: translateZ(-4px);
}


.sketchbook .sketch .page-9{
    background-image: url(../img/sketch-5.jpg);
    transform: translateZ(-4px);
}

body .rotate{
    transform: rotateY(-180deg)!important;
}


/* .sketchbook .sketch > div > div{
    width: 49%;
    height: 100%;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    position: absolute;
    border: 5px solid;
    background-color: white;
}

.sketchbook .sketch > div{
    transform-style: preserve-3d;
    height: 100%;
    position: absolute;
    width: 100%;
}

.sketchbook .sketch-1 .page-1{
    left: 0px;
    right: inherit;
}

.sketch-1 >div {
    background-image: url(../img/sketch-1.jpg);
}


.sketch-2 >div {
    background-image: url(../img/sketch-2.jpg);
    transform: translateZ(-1px);
}


.sketch-3 >div {
    background-image: url(../img/sketch-3.jpg);
    transform: translateZ(-2px);
}

body .rotate{
    transform-origin: center left;
    animation: rotation-page 4s linear;
    animation-fill-mode: forwards;
}

@keyframes rotation-page {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-180deg)translateZ(-10px);
    }
}

.sketchbook .sketch > div .page-1{
    right: 0;
    background-size: 200% 100%;
    background-position: 0%;
}

.sketch > div .page-2{
    right: 0;
    background-size: 200% 100%;
    background-position: 100%;
}




@keyframes rotation-sketch {
    0% {
      transform: rotate(0deg);
      width: 80vw;
    }
    25% {
        width: 90vh;
    }
    50% {
        transform: rotate(180deg);
        width: 80vw;
    }
    75% {
        width: 90vh;
    }
    100% {
        transform: rotate(360deg);
        width: 80vw;
    }
} */

/* Slider */
.sketchbook .slidecontainer {
    width: 200px;
    position: absolute;
    left: 20px;
    top: 20px;
}
  
.sketchbook .slider {
    -webkit-appearance: none;
    background: none;
    outline: none;
    -webkit-transition: .2s;
    transform: rotateZ(-90deg);
    position: absolute;
    right: 0;
    transform-origin: right;
}


.sketchbook .slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: #252525;
border-radius: 50%;
cursor: pointer;
}

.sketchbook .slider::-moz-range-thumb {
width: 25px;
height: 25px;
background: #04AA6D;
cursor: pointer;
}


.sketchbook .slidecontainer2 {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
}




.sketchbook .next, .sketchbook .previous{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0px;
    cursor: pointer;
    background-color: inherit;
    border: none;
    z-index: 100;
}

.sketchbook .previous{
    right: inherit;
    left: 0px;
}


/* zoom */
.sketchbook .zoom-in, .sketchbook .zoom-out{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
}

.sketchbook .zoom-in{
    left: inherit;
    right: 20px;
}


/* ---------------------------------------------------------------------------- */
/* End sketchbook */