/* General */
body {
    margin: 0;
    font-family: monospace;
}
/* ---------------------------------------------------------------------------- */
/* End general */



/* ---------------------------------------------------------------------------- */
/* Header */
header {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    /* display: none; */
}

header .header-img {
    height: 100%;
}

header h1{
    width: 100%;
    align-self: center;
    font-size: 40px;

}

/* Menu */
header .hamburger-menu{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 30px;
    aspect-ratio: 1/1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    background-color: inherit;
    border: none;
    padding: 0;
}

header .hamburger-menu > div {
    background-color: black;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

header nav{
    display: none;
}

nav a {
    width: fit-content;
}

/* Menu active state */
.menu-active .hamburger-menu > div:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
}

.menu-active .hamburger-menu > div:nth-child(2) {
    display: none;
}

.menu-active .hamburger-menu > div:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
}

.menu-active h1{
    display: none;
}

.menu-active nav{
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
    gap: 30px;
    margin-left: 20px;
}

.menu-active nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Hover images */
.money {
    position: absolute;
    width: 20%;
    left: 35%;
    bottom: 5%;
    display: none;
}

.active-1 .money{
    display: block;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
      }
}
/* ---------------------------------------------------------------------------- */
/* End header */




/* ---------------------------------------------------------------------------- */
/* Sketchbook */
.sketchbook {
    position: relative;
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 15vh 15vw;
}

.sketchbook .sketch{
    width: 100%;
    aspect-ratio: 2/1;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/sketch-1.jpg);
    background-size: 80%;
    background-position-x: 50%;
    background-position-y: 50%;
    transform: rotateX(80deg);
    transform-style: preserve-3d;
}

.test {
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: black;
    transform:rotateX(90deg)translatey(-20px)translatez(-320px);
}

.test2 {
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: black;
    transform:rotateX(90deg)translatey(-20px)translatez(30px)
}

.sketchbook .scale{
    -webkit-transform: scale(1.2);
}


@keyframes rotation-sketch {
    0% {
      transform: rotate(0deg);
      width: 80vw;
    }
    25% {
        width: 90vh;
    }
    50% {
        transform: rotate(180deg);
        width: 80vw;
    }
    75% {
        width: 90vh;
    }
    100% {
        transform: rotate(360deg);
        width: 80vw;
    }
}

/* Slider */
.sketchbook .slidecontainer {
    width: 200px;
    position: absolute;
    left: 20px;
    top: 20px;
}
  
.sketchbook .slider {
-webkit-appearance: none;
width: 100%;
height: 25px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.sketchbook .slider:hover {
opacity: 1;
}

.sketchbook .slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: #04AA6D;
cursor: pointer;
}

.sketchbook .slider::-moz-range-thumb {
width: 25px;
height: 25px;
background: #04AA6D;
cursor: pointer;
}

.sketchbook .slidecontainer2 {
    width: 200px;
    position: absolute;
    right: 20px;
    top: 20px;
}


.sketchbook .next, .sketchbook .previous{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    right: 20px;
    cursor: pointer;
}

.sketchbook .previous{
    right: inherit;
    left: 20px;
}


/* zoom */
.sketchbook .zoom-in, .sketchbook .zoom-out{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
}

.sketchbook .zoom-in{
    left: inherit;
    right: 20px;
}


/* ---------------------------------------------------------------------------- */
/* End sketchbook */